

.stats{color: purple;}
    
h1{ font-size: 3vw;
    color: darkblue;

    
}
h2{color:chocolate;
    border: solid;
    border-width: 2px;
    padding-left: 5px;

}
table,th,td{border-style: dotted;
    border-color: darkslateblue;
    border-collapse: collapse;
    text-align: center;
}
body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("../img/ocean_bg.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}