.profile p{
    background-color: purple;
    color: white;
}
profile ul {margin-left: 500px;
    margin-right: 500px;

}
.profile tr img{
    height: 200px;
    width: 200px;
}
.profile table{
    margin: auto;
}